.placeholder { color: #aaa; }

.loginWrapper
    
    background-image: url("/images/login/login_background.jpg")
    background-size: 100% 100%
    height: 100%

    .login-logo
        background: url("/images/login/novartis_logo.png") no-repeat
        background-size: 100% 100%
        height: 120px
        width: 300px
        margin auto
        position: relative
        top: 37%;
        +tablet()
            right: 200px

    form
        background-color rgba(white, 0.6)
        width: 350px
        height: 230px
        position: absolute
        right: 5%
        top: 30%
        border: 2px solid rgba(gray, 0.08)
        border-radius: 4px

        fieldset, button
            width 80%
            center()

        fieldset
            font-size 18px
            margin 60px auto auto
            padding: 0
        
        .contains-icon
            position: relative

            i
                position: absolute
                top: 12px
                right: 20px
                color: rgb(170, 170, 170)
                z-index 3

        button
            uppercase()
            font-size: 13px
            line-height: 24px
            background-color: lighten(#fcb200, 10%)
            background linear-gradient( top, #ffd100, #fcb200 )

            &:hover, &:visited, &:focus
                background linear-gradient( bottom, #ffd100, #fcb200 )

            &:active
                background linear-gradient( bottom, darken(#ffd100, 20%), darken(#fcb200, 20%))

    .loginFooter
        padding: 10px
        font-size: 12px
        position absolute
        bottom 0