<template name="WorkspaceView">
	<div class="workspaceWrapper">
        {{> workspaceTopbar }}
        {{> workspaceItems }}
        {{> workspaceMain }}
		<!-- <pre>workflowContext = {{workflowContext}}</pre> -->
	</div>
</template>

<template name="workspaceTopbar">
    <div class="workspaceTopbar">
        <div class="align-left">
            <div class="logo"></div>
            <div class="title">eApproval Workspace</div>
        </div>
        <div class="align-right">
            <div class="createBtn"><i class="fa fa-plus-square-o"></i>Create Request</div>
            <div class="userView"><i class="fa fa-user"></i>User: {{loggedUser}}</div>
            <div class="logout">Logout<i class="fa fa-power-off"></i></div>
        </div>
    </div>
</template>

<template name="workspaceItems">
    <div class="workspaceItems">
        <div class="item active"><i class="fa fa-folder-open-o"></i>Task List</div>
        <div class="item"><i class="fa fa-search"></i>Search</div>
    </div>
</template>

<template name="workspaceMain">
    <div class="workspaceMain">
        <section class="sidebar">
            <header class="titleItem"><i class="fa fa-list-ul"></i>Views</header>
            <div class="spacer"></div>
            <div class="sideView">
                <div class="inbox block">
                    <h1>Inbox</h1>
                    <li class="active">My tasks (0)</li>
                    <li>Initiated Task</li>
                    <li>Administrative Task</li>
                </div>
                <div class="spacer"></div>
                <div class="views block">
                    <h1>Views</h1>
                    <li>Due Soon</li>
                    <li>High Priority</li>
                    <li>Past Day</li>
                    <li>Past Week</li>
                    <li>Past Month</li>
                    <li>Past Quarter</li>
                    <li>News Tasks</li>
                </div>
            </div>
        </section>
        <section class="aside">
            <div class="worklistToolbar">
                <div class="item search">
                    <form class="pure-form">
                        <input type="text">
                        <div class="searchBtn"><i class="fa fa-search"></i></div>
                    </form>
                </div>
                <div class="spacer item"></div>
                <div class="align-right">
                    <i class="fa fa-refresh refreshIcon"></i>
                </div>
            </div>
        </section>
    </div>
</template>
