<template name="applicationContent">
  <div class="content {{white}}">
    {{> applicationHeader}}
    {{> applicationHome}}
    {{> applicationFooter}}
  </div>
</template>

<!-- Application Header -->
<template name="applicationHeader">
  {{> yield region="header"}}
</template>

<!-- Application Home -->
<template name="applicationHome">
  <div class="applicationHome">
      {{> yield}}
  </div>
</template>

<!-- Application Footer -->
<template name="applicationFooter">
  {{> yield region="footer"}}
</template>