// Logo styles
.applicationLayout {
  background-image: url('images/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#logo {
  background-color: rgba(white, 0.5);
  width: 100%;
  height: 100%;
  .wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    .image {
      // Absolute positioning and negative margin
      // Margin in reality it's related to the heights
      background-image: url("images/logo.png");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 55%;
      height: 58%; 
      position: absolute;
      margin: -19% 0 0 -27%;
      top: 50%;
      left: 50%;

      @media screen and (max-width: 800px) {
        width: 80%;
        margin: -28% 0 0 -40%;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 15%;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}